<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mySQLConnection"
               connectionString="Server=uiscscmssql1\uiscscmssql; uid=20161bthot2; pwd=6022; database=20161bthot2"
               providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Windows"></authentication>
  </system.web>

</configuration>
